<div class="container">
        <div class="row">

            <div class="col-2">
            </div>

            <div class="col-5">
                <h3 class="subtitle">Approve Post</h3>
                {{#unless approvalList}}
                <div class="alert alert-success">All posts Approved.</div>
                {{/unless}}
                <div id="pendingposts">
                    {{#each approvalList}}
                     <div class="card">
                        <div class="card-body" id="pendingpost">
                           <div id="postinfo">
                             <span>{{name}}</span>
                             <span>{{description}}</span>
                            </div>                            
                        </div>
                    </div>
                    <span>
                            <button type="button" class="btn btn-primary btn-sm approve" id="{{id}}">Approve</button>
                            <button type="button" class="btn btn-secondary btn-sm delete" id="{{id}}">Delete</button>
                    </span>
                    {{/each}}
                </div>
            </div>

            <div class="col-5">
                <h3 class="subtitle">Happening this Weekend</h3>
                <div id="weekend">
                </div>
            </div>
        </div>
</div>
