<div id="container">
        
        <div id="jumbo">
            <div class="topnav">
                <a href="/login">Sign In</a>
                <a href="/newaccount">Create an Account</a>
                <a href="/posts">Post a Place</a>
            </div>

            <a href="/home"><h1 id="title">My Town</h1></a>
            <input type="text" placeholder="Search by location" id="searchbar">
        </div>
        
        <div class="row">

            <div class="col-2">
            </div>

            <div class="col-5">
                <h3 class="subtitle">Approve Post</h3>
                <div id="pendingposts">
                   <div class="card">
                        <div class="card-body" id="pendingpost">
                           <div id="postinfo"></div>
                        </div>
                    </div>
                    <span>
                        <button type="button" class="btn btn-primary btn-sm" id="approve">Approve</button>
                        <button type="button" class="btn btn-secondary btn-sm" id="delete">Delete</button>
                    </span>

                    <div class="card">
                        <div class="card-body" id="pendingpost">
                           <div id="postinfo"></div>
                        </div>
                    </div>
                    <span>
                        <button type="button" class="btn btn-primary btn-sm" id="approve">Approve</button>
                        <button type="button" class="btn btn-secondary btn-sm" id="delete">Delete</button>
                    </span>
                </div>
            </div>

            <div class="col-5">
                <h3 class="subtitle">Happening this Weekend</h3>
                <div id="weekend">
                </div>
            </div>
        </div>
</div>