<div id="container">

    <div id="jumbo">
        <div class="topnav">
            <a href="/login">Sign In</a>
            <a href="/newaccount">Create an Account</a>
            <a href="/posts">Post a Place</a>
        </div>

        <a href="/home">
            <h1 id="title">My Town</h1>
        </a>
        <input type="text" placeholder="Search by location" id="searchbar">
    </div>

    <div class="row">

        <div class="col-2">
        </div>

        <div class="col-5">
            <h3 class="subtitle">Post a Place</h3>
            <form id="placePost">
                <div class="form-group">
                    <input type="text" class="form-control" id="placeName" placeholder="Name of place-required">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" id="street" placeholder="Street Address">
                </div>


                <div class="form-group">
                    <span>
                        <input type="text" class="form-control" id="city" placeholder="City-required">
                    </span>
                    <input type="text" class="form-control" id="state" placeholder="State-required">
                    <span>
                        <input type="text" class="form-control" id="zip" placeholder="Zip Code">
                    </span>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" id="siteLink" placeholder="Link to site">
                </div>
                                      
                <div class="form-group">
                    <input type="text" class="form-control" id="picLink" placeholder="Link to site">
                </div>

                <div class="form-group">
                    <textarea class="form-control" id="description" rows="3" placeholder="Description-required"></textarea>
                </div>

                <div class="form-group">
                    <select class="form-control" id="tag">
                         {{#each  categoryList}} 
                                <option value="{{id}}">{{categoryName}}</option>
                         
                         {{/each}}
        
                    </select>
                </div>

                <div class="checkbox">
                    <label id="kidFriendly">
                        <input type="checkbox" value="true">Kid Friendly</label>
                </div>


                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <div class="col-5">
            <h3 class="subtitle">Happening this Weekend</h3>
            <div id="weekend">
            </div>
        </div>
    </div>

    <div class="modal" id="postModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Oops!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>One or more of the required fields is missing, please check your submission.</p>
                </div>
            </div>
        </div>
    </div>
</div>