<div id="container">

    <div class="row">

        <div class="col-3">
        </div>

        <div class="col-5">

            <div id="missingInput" hidden></div>

            <h3 class="subtitle">Post a Place</h3>
            {{#if success_msg}}

            <div class="alert alert-success">{{success_msg}}</div>
            {{/if}}
            <form id="placePost">
                <div class="form-group">
                    <input type="text" class="form-control" id="placeName" placeholder="Name of place-required">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" id="street" placeholder="Street Address">
                </div>


                <div class="form-group">
                    <span>
                        <input type="text" class="form-control" id="city" placeholder="City-required">
                    </span>
                    <input type="text" class="form-control" id="state" placeholder="State-required">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" id="siteLink" placeholder="Link to site">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" id="picLink" placeholder="Link to picture-required">
                </div>

                <div class="form-group">
                    <textarea class="form-control" id="description" rows="3" placeholder="Description-required"></textarea>
                </div>

                <div class="form-group">
                    <h6>Please choose a category:</h6>
                    <select class="form-control" id="category">
                        {{#each categoryList}}
                        <option value="{{id}}">{{categoryName}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="checkbox">
                    <input type="checkbox" id="kidCheck" name="kidfriendly" value="kid">
                    <label for="kidCheck">Kid Friendly</label>
                </div>


                <button type="submit" class="btn btn-primary">Submit</button>
                <input type="hidden" id="userid" name="userid" value="{{user.id}}">
            </form>
        </div>

            <div class="col-4">
        <h3 class="subtitle">Happening this Weekend</h3>
        <div id="weekend">
            <div class="event" id="">
                <h6 class="eventTitle">Bodies Revealed</h6>
                <img class="eventImg" src="https://res.cloudinary.com/simpleview/image/upload/crm/phoenix/IMG_3102-1-_244d131b-5056-b3a8-49ba61143e1d44b3.jpg"
                    alt="event" width="80px">
                <div class="eventDes">The overwhelmingly popular "Bodies Revealed" exhibit explores the human body in an intimate and informative
                    way, giving visitors and unprecedented way to view "what lies beneath" the surface of the skin.</div>
                <h6 class="eventAddress">
                    <u>Address:</u>
                </h6>
                <div class="eventAddress">OdySea in the Desert 9500 E. Via de Ventura Scottsdale, AZ</div>
                <a href="http://www.bodiesaz.com/" class="weblink eventLink" target="_blank">Website</a>
            </div>

            <div class="event" id="">
                <h6 class="eventTitle">Dear Listener</h6>
                <div class="eventDes">This exhibit is a mid-career retrospective of contemporary Native Alaskin artist, Nicholas Galanin.</div>
                <h6 class="eventAddress">
                    <u>Address:</u>
                </h6>
                <div class="eventAddress">Heard Museum 2301 N. Central Ave. Phoenix, AZ</div>
                <a href="https://www.dearlistener.org/" class="weblink eventLink" target="_blank">Website</a>
            </div>

            <div class="event" id="">
                <h6 class="eventTitle">Dino Explorer</h6>
                <img class="eventImg" src="https://res.cloudinary.com/simpleview/image/upload/crm/phoenix/ldc-dino-freigegeben-600_a30a134d-5056-b3a8-493a9848d0b5e1b9.jpg"
                    alt="event" width="80px">
                <div class="eventDes">This Jurassic-sized adventure is sure to put a smile on the face of any dino fans.</div>
                <h6 class="eventAddress">
                    <u>Address:</u>
                </h6>
                <div class="eventAddress">Legoland Discovery Center 5000 S. Arizona Mills Circle Ste. 135 Tempe, AZ</div>
                <a href="https://arizona.legolanddiscoverycenter.com/whats-inside/dino-explorer/" class="weblink eventLink" target="_blank">Website</a>
            </div>
        </div>
    </div>
    </div>

    
</div>