<div id="container">

    <div class="row">

        <div class="col-2">
        </div>

        <div class="col-5">

            <div id="missingInput" hidden></div>

            <h3 class="subtitle">Post a Place</h3>
            <form id="placePost">
                <div class="form-group">
                    <input type="text" class="form-control" id="placeName" placeholder="Name of place-required">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" id="street" placeholder="Street Address">
                </div>


                <div class="form-group">
                    <span>
                        <input type="text" class="form-control" id="city" placeholder="City-required">
                    </span>
                    <input type="text" class="form-control" id="state" placeholder="State-required">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" id="siteLink" placeholder="Link to site">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" id="picLink" placeholder="Link to picture">
                </div>

                <div class="form-group">
                    <textarea class="form-control" id="description" rows="3" placeholder="Description-required"></textarea>
                </div>

                <div class="form-group">
                    <h6>Please choose a category:</h6>
                    <select class="form-control" id="category">
                        {{#each categoryList}}
                        <option value="{{id}}">{{categoryName}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="checkbox">
                    <input type="checkbox" id="kidCheck" name="kidfriendly" value="kid">
                    <label for="kidCheck">Kid Friendly</label>
                </div>


                <button type="submit" class="btn btn-primary">Submit</button>
                <input type="hidden" id="userid" name="userid" value="{{user.id}}">
            </form>
        </div>

        <div class="col-5">
            <h3 class="subtitle">Happening this Weekend</h3>
            <div id="weekend">
            </div>
        </div>
    </div>

    
</div>