<div id="container">

    <div class="topnav">
        <h1>My Town</h1>
        <a href="#signin">Sign In</a>
        <a href="#createaccount">Create an Account</a>
        <a href="#postevent">Post a Place</a>
        <input type="text" placeholder="Search by location">
    </div>

    <div id="filters">
    <h3>Filter By:</h3>
    </div>

    <div id="activities">
    <h2>Things to Always Do</h2>
    </div>

    <div id="weekend">
    <h2>Happening this Weekend</h2>
    </div>

</div>
