<div id="container">
        
        <div id="jumbo">
            <div class="topnav">
                <a href="#signin">Sign In</a>
                <a href="#createaccount">Create an Account</a>
                <a href="#postevent">Post a Place</a>
            </div>

            <h1 id="title">My Town</h1>
            <input type="text" placeholder="Search by location" id="searchbar">
        </div>
        
        <div class="row">

            <div class="col-2">
                <h4 class="subtitle">Filter By:</h4>
                <div id="filters">
                    <ul>
                    {{#each categoryList}} 
                         <li>
                            {{categoryName}}
              
                        </li>
                    {{/each}}
                  </ul>
                </div>
            </div>


            <div class="col-6">
                <h3 class="subtitle">Things to Always Do</h3>
                <div id="activities">   
                </div>
            </div>
        
            <div class="col-4">
                <h3 class="subtitle">Happening this Weekend</h3>
                <div id="weekend">
                </div>
            </div>
        </div>
</div>
