<div class="container">
    <div class="row">

        <div class="col-3">
        </div>

        <div class="col-5">
            <h3 class="subtitle">Sign In</h3>
            <div id="login">
                {{#if error_msg}}
                <div class="alert alert-danger">{{error_msg}}</div>
                {{/if}} {{#if success_msg}}
                <div class="alert alert-success">{{sucess_msg}}</div>
                {{/if}}
                <form action="/login" method="post">
                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>

                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember me</label>
                    </div>

                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>

        <div class="col-4">
            <h3 class="subtitle">Happening this Weekend</h3>
            <div id="weekend">
            </div>
        </div>
    </div>
</div>
