
body {
	font-family: 'Fjalla One', sans-serif;
	color: black;
	background-color:#F6F5F5;
	min-height: 2000px;
}

#jumbo {
	height: 300px;
	background-image: url("../images/jumboimage.jpg");
	background-position: 0% 15%;
    background-size: cover;
    background-repeat: no-repeat;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: right;
    color: white;
    text-align: center;
    margin-top: -10px;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: #b0b6b5;
}

#title {
	text-align: center;
	margin-top: 30px;
	color: white;
}

#searchbar {
	width: 300px;
	margin-top: 20px;
}

input[type="text"] {
    display: block;
    margin : 0 auto;
}

#searchDiv input{
	display:inline-block;
}

.subtitle {
	margin-top: 20px;
	text-align: center;
	color: black;
}

.btn-primary, .btn-primary:hover {
	background-color: #0e1822;
}

#city {
	width: 250px;
	float: left;
	margin: 0 10px 10px 0;
}

#state {
	width: 150px;
	float: left;
	margin: 0 10px 10px 0;
}

#zip {
	width: 130px;
}

#pendingpost {
	margin-top: 10px;
}

#approve {
	background-color: green;

}

#delete {
	background-color: red;

	font-family: 'Fjalla One', sans-serif;
	color: black;
	background-color:#F6F5F5;
}

#jumbo {
	height: 300px;
	background-image: url("../images/jumboimage.jpg");
	background-position: 0% 15%;
    background-size: cover;
    background-repeat: no-repeat;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: right;
    color: white;
    text-align: center;
    margin-top: -10px;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: #b0b6b5;
}

#title {
	text-align: center;
	margin-top: 30px;
	color: white;
}

#searchbar {
	width: 300px;
	margin-top: 20px;
}

input[type="text"] {
    display: block;
    margin : 0 auto;
}

.subtitle {
	margin-top: 20px;
	text-align: center;
	color: black;
}

.btn-primary, .btn-primary:hover {
	background-color: #0e1822;
}

#city {
	width: 250px;
	float: left;
}

#state {
	width: 150px;
	float: left;
}

#zip {
	width: 130px;
}

#welcome {
	color: white;
}

#missingInput, #passMatch {
	border: 2px solid tomato;
	border-radius: 5px;
	color: tomato;
	padding: 5px;
	margin-top: 20px;
	text-align: center;
}

h6 {
	height: 30px;
}

.displayPic {
	height: 112px;
	width: 150px;
	float: left;
	position: relative;
	border: 4px solid rgba(243, 184, 36, 0);
	border-radius: 10px;
}

.displayPicBorder {
	border: 4px solid rgb(235, 195, 132);
	border-radius: 10px;
}

.posts {
	float: left;
	position: relative;
	margin: 5px;
	padding: 15px;
	background-color: rgb(231, 231, 231);
	border-radius: 10px;
}

.event {
	background-color: rgb(207, 207, 207);
	float: left;
	position: relative;
	margin: 5px;
	padding: 15px;
	border-radius: 10px;
}

.posts:hover {
	background-color: rgb(207, 207, 207);

}

.info {
	background-color: rgb(235, 195, 132);
	padding: 5px;
	border-radius: 10px;
}

#des {
	float: left;
	position: relative;
	width: 290px;
	height: 120px;
	margin-left: 20px;
}

.weblink {
	color: white;
}

.weblink:hover {
	color: black;
}

.event {
	width: 460px;
}

.eventImg, .eventDes, .eventAddress, .eventLink {
	float: left;
	position: relative;
}

.eventDes, .eventAddress, .eventLink {
	width: 200px;
	margin-left: 10px;
}

.flip {
	animation-name: flip;
	animation-duration: 1.2s;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}

.flipBack {
	animation-name: flipBack;
	animation-duration: 1.2s;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}

@keyframes flip {
	50% {
		transform: scale(0, 1) skewy(-5deg);
	}
	50.1% {
		transform: scale(0, 1) skewy(5deg);
	}
	100% {
		width: 500px;
		height: 400px;
		/* background-color: rgb(216, 165, 115); */
		background-image: url("../images/sunset.jpg")
	}
}

@keyframes flipBack {
	0% {
		width: 500px;
		height: 300px;
		/* background-color: rgb(216, 165, 115); */
		background-image: url("../images/sunset.jpg")
	}
	50% {
		transform: scale(0, 1) skewy(5deg);
	}
	50.1% {
		transform: scale(0, 1) skewy(-5deg);
	}
	100% {
	}
}