
body {
	font-family: 'Fjalla One', sans-serif;
	color: black;
	background-color:#F6F5F5;
}

#jumbo {
	height: 300px;
	background-image: url("../images/jumboimage.jpg");
	background-position: 0% 15%;
    background-size: cover;
    background-repeat: no-repeat;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: right;
    color: white;
    text-align: center;
    margin-top: -10px;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: #b0b6b5;
}

#title {
	text-align: center;
	margin-top: 30px;
	color: white;
}

#searchbar {
	width: 300px;
	margin-top: 20px;
}

input[type="text"] {
    display: block;
    margin : 0 auto;
}

.subtitle {
	margin-top: 20px;
	text-align: center;
	color: black;
}

.btn-primary, .btn-primary:hover {
	background-color: #0e1822;
}

#city {
	width: 250px;
	float: left;
}

#state {
	width: 150px;
	float: left;
}

#zip {
	width: 130px;
}

#pendingpost {
	margin-top: 10px;
}

#approve {
	background-color: green;

}

#delete {
	background-color: red;

	font-family: 'Fjalla One', sans-serif;
	color: black;
	background-color:#F6F5F5;
}

#jumbo {
	height: 300px;
	background-image: url("../images/jumboimage.jpg");
	background-position: 0% 15%;
    background-size: cover;
    background-repeat: no-repeat;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: right;
    color: white;
    text-align: center;
    margin-top: -10px;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: #b0b6b5;
}

#title {
	text-align: center;
	margin-top: 30px;
	color: white;
}

#searchbar {
	width: 300px;
	margin-top: 20px;
}

input[type="text"] {
    display: block;
    margin : 0 auto;
}

.subtitle {
	margin-top: 20px;
	text-align: center;
	color: black;
}

.btn-primary, .btn-primary:hover {
	background-color: #0e1822;
}

#city {
	width: 250px;
	float: left;
}

#state {
	width: 150px;
	float: left;
}

#zip {
	width: 130px;
}